.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#led_indicator {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: black;
}

#selectedcolor {
    border:1px solid #e3e3e3;
    width:80%;
    height:300px;
    margin:auto;
}
#divpreview {
    border:1px solid #e3e3e3;
    width:100px;
    height:25px;
    margin:auto;
    visibility:hidden;
    background-color: rgb(255, 0, 0);
}

div.brightness {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}

div.brightness>.fa-sun-o.fa-lg::before {
  opacity: 0.5;
}

div.brightness>.fa-sun-o.fa-2x::before {
  color: #ffc106;
}

div.brightness>.pmd-range-slider.noUi-target {
  margin: 0px 12px;
  width: -webkit-fill-available;
  height: 3px;
}

.pmd-range-slider .noUi-handle {
  width: 30px;
  height: 30px;
  top: -14px;
  left: -9px;
}

.pmd-range-slider .noUi-handle.noUi-active .noUi-tooltip {
  transform: scale(1.7, 1.7);
  -moz-transform: scale(1.7, 1.7);
  -ms-transform: scale(1.7, 1.7);
  -o-transform: scale(1.7, 1.7);
  -webkit-transform: scale(1.7, 1.7);
}

.navbar .avatar>img {
  width: 32px;
  height: 32px;
}

.social>a {
  margin-right: 5px;
  margin-left: 5px;
}

.red_ocean-gradient {
  background: #1D4350;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A43931, #1D4350);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A43931, #1D4350);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card-body>pmd-range-slider {
  height: 3px;
}

#slider_red .pmd-range-slider .noUi-connect {
  /*background-color: FFFFFF;*/
}
